* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Acme', sans-serif;
}

main {
  margin: 0 auto;
  width: 800px;
  margin-top: 60px;
}

legend {
  padding: 10px;
  font-size: 24px;
  color: darkred;
}

fieldset {
  padding: 20px;
  margin: 20px 0;
  border-color: darkgray;
}

input[type='text'],
button {
    height: 40px;
    margin: 10px 0;
}

input[type='text'] {
  padding: 10px;
  width: 80%;
}

button {
  width: 100px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: darkgreen;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #332c2f;
  color: white;
}

.framing {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

.img-link,
.title {
  margin-left: 25px;
  width: 80%;
}

